@layer base {
    @font-face {
      font-family: 'IRANYekan';
      font-style: normal;
      font-weight: 100;
      src: url('/fonts/iranyekan/IRANYekanThinFaNum.ttf') format('truetype');
      font-display: swap;
    }
    @font-face {
      font-family: 'IRANYekan';
      font-style: normal;
      font-weight: 300;
      src: url('/fonts/iranyekan/IRANYekanLightFaNum.ttf') format('truetype');
      font-display: swap;
    }
    @font-face {
      font-family: 'IRANYekan';
      font-style: normal;
      font-weight: 400;
      src: url('/fonts/iranyekan/IRANYekanRegularFaNum.ttf') format('truetype');
      font-display: swap;
    }
    @font-face {
      font-family: 'IRANYekan';
      font-style: normal;
      font-weight: 500;
      src: url('/fonts/iranyekan/IRANYekanMediumFaNum.ttf') format('truetype');
      font-display: swap;
    }
    @font-face {
      font-family: 'IRANYekan';
      font-style: normal;
      font-weight: 700;
      src: url('/fonts/iranyekan/IRANYekanBoldFaNum.ttf') format('truetype');
      font-display: swap;
    }
    @font-face {
      font-family: 'IRANYekan';
      font-style: normal;
      font-weight: 800;
      src: url('/fonts/iranyekan/IRANYekanExtraBoldFaNum.ttf') format('truetype');
      font-display: swap;
    }
    @font-face {
      font-family: 'IRANYekan';
      font-style: normal;
      font-weight: 900;
      src: url('/fonts/iranyekan/IRANYekanExtraBlackFaNum.ttf') format('truetype');
      font-display: swap;
    }
  }
  